.wrapper > .header{
    min-height: 20px;
    background-position: center center;
    background-size: cover;
}
.main{
    background: $white-color;
    position: relative;
    z-index: 3;

}

.title{
    font-weight: $font-weight-bold;
    color: $black-color;
    font-family: Sacramento;
    font-size: 100px;
}
h2.title{
    margin-bottom: $margin-base * 2;
}

.big-icon {
 font-size: 30px;
}

// style for the home page
.home-page{
    background: $white-color;
    .header{
        height: 100px;
        h1{
            font-weight: 600;
        }
    }

    .container{
            padding-top: 2vh; 
            padding-left: 2vh;
            padding-right: 2vh;  

    }

    .wrapper{
        background: $white-color;
    }    
}