<div class="panel panel-default">    
    <div class="panel-body">
        <!-- categories -->
        <div class="row"  id="categories">
        </div>

        <!-- articles -->
        <div class="row"  id="products">
        
        </div>
    </div>
</div>